{% extends "base.html" %}

{% block title %}Коммерциялық ұсыныс{% endblock %}

{% block content %}
    <h1>Коммерческое предложение</h1>
    <p><strong>ПОСТАВЩИК:</strong> TOO "Conti-new Corporation"</p>
    <h2>КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ ОТ {{ offer.offer_date }}</h2>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование товара</th>
                <th>Цена за единицу (тенге)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in offer.items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
